<!DOCTYPE html>
<html lang="jp">
  <head>
    <title>LED電光掲示板</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css"
    rel="stylesheet">
    <link  href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
     rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
      $(function(){
        $("#btn-clear" ).on('click', function(){device_control('clear')});
        $("#btn-stop"  ).on('click', function(){device_control('stop')});
        $("#btn-start" ).on('click', function(){device_control('start')});
        $("#btn-reload").on('click', function(){device_control('reload')});
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light" id="nav">
      <a class="navbar-brand" href="/">
        LED電光掲示板
      </a>
      <ul class="nav navbar-nav">
        <li>
          <a href="/config">設定</a>
        </li>
        <li>
          <a href="/list">メッセージ一覧</a>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
	     role="button" aria-haspopup="true" aria-expandded="false">
	    ヘルプ <span class="caret"></span></a>
          <ul class="dropdown-menu">
	    <li><a target="_blank"
                   href="https://github.com/h-nari/LED_Signboard/wiki/Manual">
                使用説明書</a></li>
	    <li><a target="_blank"
                   href="http://www.humblesoft.com/bbs/c-board.cgi">
                サポート掲示板</a></li>
	    <li role="separator" class="divider"></li>
	    <li><a target="_blank"
                   href="https://github.com/h-nari/LED_Signboard">
                GitHub</a></li>
          </ul>
        </li>
      </ul>
      <span class="navbar-text" id="status">status</span>
      <form class="navbar-form navbar-right">
        <button class="btn btn-sm btn-outline-secondary" type="button"
	        id="btn-clear">クリア</button>
        <button class="btn btn-sm btn-outline-secondary" type="button"
	        id="btn-stop">停止</button>
        <button class="btn btn-sm btn-outline-secondary" type="button"
	        id="btn-start">再開</button>
        <button class="btn btn-sm btn-outline-secondary" type="button"
	        id="btn-reload">最初から</button>
      </form>
    </nav>
    <h1>LED 電光掲示板</h1>

    <p>
      このプログラムは
      (有)ハンブルソフト製 HSES-LMC1
       LEDモジュールコントローラ用
       LED電光掲示板制御プログラムです。
    </p>

    <p>
      <ul>
        <li><a href="/config">設定</a></li>
        <li><a href="/list">メッセージ一覧</a></li>
        <li><a href="/api?cmd=info">info</a></li>
        <li><a href="/sd/">SD Card</a></li>
      </ul>
    </p>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/common.js"></script>
</body>
</html>
